* {
    padding: 0;
    border: 0;
    margin: 0;
}

.container {
    display: grid;
    /* grid-template-columns: 40% 60%; */
    /* grid-template-columns: 4fr 6fr; */
    /* grid-template-columns: 300px 1fr; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-auto-rows: 300px; */
    /* grid-auto-rows:minmax(400px, auto) */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    background: lightgray;
    /* justify-items: center; */
    /* align-items: end; */
}

.item {
    background: rgba(255,0,0,0.5);
}

.item:nth-child(odd){
    background: rgba(255,255,0,0.5);
}

.item:nth-child(5){
    /* justify-self: center;
    align-self: center; */
}

.item:nth-child(1) {
    grid-column: 1/4;
}

.item:nth-child(4) {
    grid-row: 2/4;
    grid-column: 3;
}

.item:nth-child(9) {
    grid-column: 3;
    grid-row:3/5;
}