body {
    font-size: 1em;
    margin: 0;
}

h1, p {
    margin: 0;
}
.container {
    /* max-width: 1000px;
    margin: 0 auto;
    font-size: 0; */
    background-color: pink;
}

.container:after {
    content: '내가 클리어 햇수다';    
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.item {
    padding: 5%;
    
}

.item-a {
    float: left;
    background-color: yellow;
    width: 30%;
}

.item-b {
    float: right;
    background-color: yellowgreen;
    width: 50%;
}

footer {
    clear: both;
    background-color: gray;
}

