.page {
    height: 100%;
}
.header {
    display: flex;
    height: 50px;
    align-items: center;
}
.website-title {
    color:black;
}
.menu {
    display: flex;
}
.menu-item {
    width: 25%;
    background: gold;
    transition: 0.5s;
}
.menu-item:hover {
    width: 30%;
    background: crimson;
}
.menu-link {
    display: block;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: #555;
    padding: 1rem;
}
.menu-link:hover {
    color: white;
}

a {
    text-decoration: none;
}